@tailwind base;
@tailwind components;
@tailwind utilities;





body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
.swiper-slide-active {
  transform: scale(1.1); 
  transition: transform 0.3s ease;
}

.swiper-slide {
  opacity: 0.6; 
  transition: opacity 0.3s ease;
}

.swiper-slide-active {
  opacity: 1; /* Fully visible center slide */
}
